@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 80%;
}
header {
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
.logo {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
}
span {
  color: #d3404c;
}
.navbar {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding: 24px 0;
}
/* .nav-link {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
} */

/* 
.black::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(0, 0, 0);
}
.white::before {
  background-color: rgb(255, 255, 255);
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.black:hover.black::before,
.white:hover.white::before {
  width: 100%;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
} */
.black,
.white {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.black:hover {
  border-bottom: 2px solid black;
}

.white:hover {
  border-bottom: 2px solid white;
}
